*.py[cod]
*.so
*.c
dist/
*.coverage*
deploy
deploy.py
output_files/
swacmod/deploy.py
pylint.conf
swacmod.egg-info/
swacmod/build/
build/
*.xlsb
*.ods
*.xlsx
.gitattributes
.gitconfig
.eggs
venv/
Pip*
env/
