.DS_Store
.vscode/
*.py[cod]
*.so
*.c
dist/
release/
*.coverage*
deploy
deploy.py
output_files/
output_files_v2/
output_files_v2_yml/
output_files_v2_csv/
output_files_mfusg/
output_files_natproc/
swacmod/deploy.py
pylint.conf
swacmod.egg-info/
swacmod/build/
build/
*.xlsb
*.ods
*.xlsx
.gitattributes
.gitconfig
.eggs
.idea/
venv/
Pip*
env/
temp_file_backed_array/
temp_scratch_files/
swacmod_run.spec
env-lint/
__pycache__
tmp*
